.visite {
 
     padding: 0px 25px;
    flex: 0.40;
    
     overflow-y: scroll;
     height: calc(100vh -40px);
}
.visite::-webkit-scrollbar {
    background: lightgray;
    width: 5px;
   
  }
.visiteHeader {
  margin-top: 10px;
   cursor: pointer;
   font-size: 14px; 

}
.visite_h_left {
    display: flex;
    justify-content:space-between;

    align-items: center;
    cursor: pointer;
    


}
.visitebodyoption {
    display: flex;
  
    align-items: center;
    gap: 6px;
    cursor: pointer;
    
    line-height: 10px;
}
.visitebodyoption1 {
    display: block;
    gap: 6px;
    cursor: pointer;
    
    line-height: 10px;
}

.option{
    display: flex;
    gap: 6px;
    align-items: center;
}
.visitebodyoption svg{
    font-size: 16px;
}
.visite_h_right svg{
    padding: 0px 10px;
}
.visiteHeader1 {
 
    display: flex;
    justify-content: space-between;
  
    align-items: center;
    cursor: pointer;
  
}
.visiteleft1 {
   /* background-color: black; */
  overflow: hidden;

}
.visiteleft1 h4{
    font-size: 14px;
}